.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px 0 5px 70px;
}

.not-found-container {
  max-width: 70vw;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Noto Sans Mono', monospace;
  padding-bottom: 30px;
  justify-content: center;
}

.not-found-image {
  max-width: 380px;
  margin-top: 1rem;
  padding-top: 60px;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.4);
}

.not-found-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.not-found-text {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 2rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
  margin: 20px 80px;
}

.not-found-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-button,
.recipes-button {
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;

}

.home-button {
  background-color: #e75e1a;
  color: white;
  
}

.recipes-button {
  background-color: transparent;
  color: #555;
  border: 2px solid #555;
}

.home-button:hover {
  background-color: #f71111;
}

.recipes-button:hover {
  background-color: #555;
  color: white;
  transform: translateY(-6px);
}
