
body {
  font-family: 'Noto Sans Mono', sans-serif;
  background-color: #f7f8fa;
  color: #333;
}

.recipe-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95vw;
  margin: 0 auto;
  padding: 10px;
  margin-left: 70px;
}

.recipe-details-picture-headline {
  width: 85vw;/* takes the full width of parent element */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes-picture {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}

.recipe-name {
  text-decoration: underline;
  padding: 30px;
  /* text-align: center; /* centers the text */
  /* width: 100%; making sure text is using whole width */
}

.whole-text-container {
  background-color: #cfa12322;
  width: 85vw;
}

.lists {
  line-height: 30px;
  padding-left: 15px;
  padding-top: 15px;
}

#instructions-line {
  width: 89%;
  padding-bottom: 25px;
}

.descriptions-details {
  font-weight: bold;
}

.recipe-details-text-container {
  display: flex;
  flex-direction: row;
  width: 100%; /* make sure container is using whole width */
  padding: 10px;
  gap: 15px; /* gap between both containers in the row */
  padding-left: 50px;
  padding-top: 30px;
}

.recipe-details-text-container > div:first-child {
  flex: 1; /* first container is taking less space */
}

.recipe-details-text-container > div:last-child {
  flex: 2; /* second container is taking more space (double) */
}

#back-btn-details-page {
  margin-top: 20px;
}
